/*
Project Name: Michael Laughlin Therapy
Author: Emily Pecot
Developer @GA in NYC
*/
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html {
  color: #705c38;
}

.home_page {
  text-align: center;
  
}
h1 {
  padding-top: .8em;
  padding-bottom: .2em;
  font-size: 40px;
  font-family: 'Cantata One', times;
}
h2 {
  font-size: 30px;
  font-family: 'Cinzel', sans;
  padding-bottom: .5em;
  margin-left: 2.5em;
}
h3 {
  padding-bottom: 1em;
  font-size: 18px;
  font-family: 'Cinzel', sans;
}
nav {
  width: 100%;
  height: 3em;
  background-color: white;
  position: fixed;
  padding-top: 1em;
 
/* #the-sticky-div.sticky {
     top: 0;
*/
}
li {
  display: inline-block;
  padding-right:4em;
  padding-left: 4em;
  font-size: 20px;
  font-family: 'Cinzel', sans;
}
.home_pic {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  border: 1px groove #5b4825;
  margin-bottom: 8em;
}

.profile_pic {
  float: right;
  width: 35%;
  height: auto;
  margin-right: 4em;
  margin-top: 2em;
  padding-left: 1em;
  padding-bottom: 1em;
}

p {
  font-size: 18px;
  font-family: 'Book Antiqua', sans;
  margin-right: 3em;
  margin-left: 4em;
  
}
.about_blurb {
  margin-bottom: 5em;
}
.subheadings {
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: -.8em;
  font-weight: bold;
}

.services_page {
  margin-bottom: 5em;
}